body {
    margin: 0px;
    background-color:rgb(255, 255, 255);}

.bodyImg {
    position: relative;
    text-align: center;
    color: rgb(202, 128, 231);
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }  
  
  .menu{
      background-color: rgb(31, 29, 29);
      display: flex;
      justify-content: space-between;
      padding: 15px;
      font-size: 20px;
      font-family: serif;
      font-weight: 400;
      color: #c35cf3;
      }

      .grid{
          display: flex;
          flex-wrap: wrap;
          justify-content:space-evenly;
      }

      .grid img{
        border: 2px solid black;
        border-radius: 50px;
        }

        .origami {
        border-radius: 20px;
        background-color:rgb(0, 255, 200);
        padding: 30px;
        margin: 25px;
        width:310px;
        font-family: fantasy;
        }

        .origami:hover{
          transform: scale(1.2);
        }

        a:link{
          color:rgb(255, 251, 0);
          text-decoration: none;
        }

        a:visted{
          color: rgb(255, 14, 14);
          text-decoration: none;
        }
        